@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.slider {
  background-color: #F6F9FC;
}

.discount {
  background-color: #F6F9FC;
}

.card-data {
  width: 350px;
}

.best {
  background-color: #F6F9FC;
}

.footer {
  background-color: #0F3460;
}

.f-text {
  color: #8194AB;
}

.shop-img {
  height: 400px;
  background-image: linear-gradient(rgba(18, 12, 12, 0.5), rgba(7, 7, 9, 0.5)), url('./assets/image/shop-hero.jpg');
  background-position: top;
  background-size: cover;
}

.cart {
  background-color: #F6F9FC;
}

/* Media css */
/* Mobile View  */
@media only screen and (max-width: 600px) {
  .logo {
    margin: auto;
  }

  .nav-ul {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
  }

  .slider {
    flex-direction: column;
  }

  .slider-data {
    margin-top: -50px;
    margin-left: -10px;
    text-align: center;
  }

  .slider-data h1 {
    font-size: 26px;
  }

  .slider-data p {
    font-size: 16px;
    width: 50%;
    margin-left: 120px;
  }

  .slider-data button {
    font-size: 12px;
  }

  .slider-img {
    align-self: center;
  }

  .card {
    display: none;
  }

  .box-data {
    flex-direction: column;
  }

  .card-data {
    margin: 40px !important;
  }

  .img-data {
    padding: 20px !important;
    height: 350px;
  }

  .footer-data {
    display: none;
  }

  .footer {
    padding: 10px 50px;
  }

  .footer-data1 {
    margin: 10px;
  }

  .cart-data {
    width: 250px;
    height: auto;
  }

  .cart-h1 {
    height: auto;
  }

  .login {
    height: auto;
    width: auto;
    margin: 50px;
  }
}


/* Tablet View  */
@media only screen and (max-width: 768px) {
  .logo {
    margin: auto;
  }

  .nav-ul {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
  }

  .slider {
    flex-direction: column;
  }

  .slider-data {
    margin-top: -50px;
    margin-left: -10px;
    text-align: center;
  }

  .slider-data h1 {
    font-size: 26px;
  }

  .slider-data p {
    font-size: 16px;
    width: 50%;
    margin: auto;
  }

  .slider-data button {
    font-size: 12px;
  }

  .slider-img {
    align-self: center;
    margin-top: 10px !important;
    padding: 20px;
  }

  .card {
    display: none;
  }

  .box-data {
    flex-direction: column;
  }

  .card-data {
    margin: 40px !important;
  }

  .img-data {
    padding: 20px !important;
    height: 350px;
  }

  .footer-data {
    display: none;
  }

  .footer {
    padding: 10px 50px;
  }

  .footer-data1 {
    margin: 10px;
  }

  .cart-data {
    width: 250px;
    height: auto;
  }

  .cart-h1 {
    height: auto;
  }

  .login {
    height: auto;
    width: auto;
    margin: 50px;
  }
}

/* Desktop View  */
@media only screen and (max-width: 1100px) {
  .logo {
    margin: auto;
  }

  .nav-ul {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
  }

  .slider {
    flex-direction: column;
  }

  .slider-data {
    margin-top: -50px;
    margin-left: -10px;
    text-align: center;
  }

  .slider-data h1 {
    font-size: 26px;
  }

  .slider-data button {
    font-size: 12px;
  }

  .slider-img {
    align-self: center;
    padding: 40px;
  }

  .box-data {
    flex-direction: column;
  }

  .card-data {
    margin: 20px 180px !important;
    align-self: center;
    align-content: center;
  }

  .img-data {
    height: 300px;
    width: 450px;
  }

  .footer-data {
    display: none;
  }

  .footer {
    padding: 10px 50px;
  }

  .footer-data1 {
    margin: 10px;
  }

  .cart-data {
    width: 250px;
  }

  .card {
    column-gap: 5px !important;
  }

  .login {
    width: auto;
    height: auto;
    margin: 50px;
  }
}